.header 	{
	font-size: 20px;
	line-height: 1.5;   
   margin: 60px auto;
}

.header span {
	display: block;
}
 .form-header {
 	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
 }

.form {
	border: 5px solid #593ec7;
	padding: 30px 20px;
}

.form input {
	margin-bottom: 12px;
}

.btn {
	background-color: #593ec7;
	margin: 12px auto;
}

.section-header {
   font-size: 20px;
   margin-top: 60px;
   margin-bottom: 60px;
}

.feature {
	margin: 60px auto;
}

.btn-b {
	margin-bottom: 60px;
	background-color: #593ec7;
}

.feature-box {
	margin-bottom: 60px;
}

.text-nk {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 60px;

}

.client_foto {
	height: 160px;
}

.client_foto {
	height: 100px
}